doctype html
html
	head
		block head
		meta(charset='UTF-8')
		meta(name='description', content='Eve is learning to use gulp')
		meta(name='keywords', content='HTML,CSS,XML,JavaScript')
		meta(name='author', content='Evelia Molina')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(rel='stylesheet', type='text/css', href='css/styles.css')
		link(rel='stylesheet', type='text/css', href='libs/libs.css')
		//- //if IE
		//- 	link(rel='stylesheet/less', type='text/css', href='ie.less')
		title este es el titulo
	body
		block content
